@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  color: #707070;
  font-family: 'Montserrat','YuGothic',san-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  opacity: 0.8;
}

header > .container {
  width: 90%;
  max-width: 1004px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container h1 {
  font-size: 20px;
  font-weight: 100;
}

header > .container nav ul {
  display: flex;
}

header > .container nav ul li {
  margin: 0px 10px;
  font-size: 20px;
  font-weight: 100;
}

header > .container nav ul li:nth-of-type(3) {
  margin: 0px 0px 0px 10px;
}

header > .container nav ul li:hover {
  border-bottom: 0.1px solid #CCC;
}

main {
  max-width: 1004px;
  height: 580px;
  margin: 0 auto;
  background: url("../img/eye-catch.png") 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

main .container {
  max-width: 1004px;
  margin: 0 auto;
  position: absolute;
}

main .container .message {
  position: relative;
  left: 86px;
  top: 150px;
}

main .container .message p {
  margin: 0;
}

main .container .message .name {
  font-family: 'Playfair Display',serif;
  font-size: 40px;
  font-weight: 200;
}

main .container .message .job {
  width: 300px;
}

main .container .message .job.-en {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: 100;
}

main .container .message .job.-ja {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 300;
  padding: 2px 0px 0px 5px;
}

#about {
  width: 100%;
  max-width: 1004px;
  margin: 0 auto;
}

#about .heading-top h2 {
  font-family: 'Playfair Display',serif;
  font-size: 70px;
  font-weight: 200;
  margin: 0 10% -30px 10%;
}

#about .container {
  padding: 8% 10% 14% 10%;
  border-top: 0.1px solid #CCC;
  border-left: 0.1px solid #CCC;
  border-bottom: 0.1px solid #CCC;
}

#about .container .description {
  max-width: 1004px;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'YuGothic';
  line-height: 28px;
}

#about .container .services {
  margin-top: 70px;
}

#about .container .services .service {
  width: 100%;
  max-width: 1004px;
  margin: 0 auto;
  padding: 40px 50px;
  background-color: #eee;
  margin-bottom: 50px;
}

#about .container .services .service:nth-of-type(3) {
  margin-bottom: 0px;
}

#about .container .services .service h3 {
  margin-bottom: 10px;
  font-size: 26px;
  font-family: 'YuGothic';
  font-weight: lighter;
}

#about .container .services .service h3 span {
  display: block;
  font-size: 12px;
  position: relative;
  left: 2px;
}

#about .container .services .service .service-contents {
  display: flex;
  font-size: 12px;
}

#about .container .services .service .service-contents dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  padding: 10px 30px 30px 30px;
  background-color: #eee;
}

#about .container .services .service .service-contents dl dt {
  width: calc(100% - 6em);
  font-size: 12px;
  line-height: 24px;
}

#about .container .services .service .service-contents dl dd {
  font-size: 12px;
  line-height: 24px;
}

#about .container .services .service .service-contents dl dd::before {
  content: "~";
  padding-right: .5em;
}

#about .container .services .service .service-contents dl dd::after {
  content: "year";
  padding-left: .5em;
}

#about .container .services .service .service-contents .service-description {
  width: 50%;
  margin-top: 10px;
  font-size: 12px;
  line-height: 24px;
}

.works {
  width: 100%;
  max-width: 1004px;
  margin: 140px auto 0 auto;
}

.works .heading-top h2 {
  font-family: 'Playfair Display',serif;
  font-size: 70px;
  font-weight: 200;
  margin: 0 10% -30px 10%;
}

.works .container {
  padding: 8% 10% 14% 10%;
  border-top: 0.1px solid #CCC;
  border-right: 0.1px solid #CCC;
  border-bottom: 0.1px solid #CCC;
}

.works .container .work {
  width: 800px;
  height: 450px;
  position: relative;
  margin: 0 auto 160px auto;
}

.works .container .work:nth-of-type(3) {
  margin-bottom: 0;
}

.works .container .work .work-img {
  width: 580px;
  height: 400px;
  position: absolute;
  background-color: #eee;
  top: 0;
}

.works .container .work:nth-of-type(odd) .work-img {
  background-color: pink;
  left: 0;
}

.works .container .work:nth-of-type(even) .work-img {
  right: 0;
}

.works .container .work .work-description {
  width: 410px;
  height: 330px;
  position: absolute;
  border: 0.1px solid #FFF;
  box-shadow: 1px 2px 20px rgba(9, 9, 9, 0.02);
  z-index: 1;
  bottom: 0;
  background-color: #FFFFFF;
}

.works .container .work .work-description ul {
  padding: 60px 70px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
}

.works .container .work .work-description ul li {
  margin-bottom: 30px;
}

.works .container .work .work-description ul li span {
  display: block;
  width: 100%;
  font-size: 10px;
}

.works .container .work:nth-of-type(odd) .work-description {
  right: 0;
}

.works .container .work:nth-of-type(even) .work-description {
  left: 0;
}

#contact {
  width: 100%;
  max-width: 1004px;
  margin: 130px auto 0 auto;
}

#contact .heading-top h2 {
  font-family: 'Playfair Display',serif;
  font-size: 70px;
  font-weight: 200;
  margin: 0 10% -30px 10%;
}

#contact .container {
  padding: 8% 10% 14% 10%;
  border-top: 0.1px solid #CCC;
  border-left: 0.1px solid #CCC;
  border-bottom: 0.1px solid #CCC;
  font-weight: lighter;
}

#contact .container .contact-info {
  padding-top: 60px;
}

#contact .container ul {
  display: flex;
  padding: 8px 0px 0px 0px;
}

#contact .container ul li:nth-of-type(2) {
  padding: 0 5px;
}

#contact .container ul li:nth-of-type(4) {
  padding: 0 5px;
}

#contact .container ul li:nth-of-type(1):hover {
  border-bottom: 0.1px solid #CCC;
}

#contact .container ul li:nth-of-type(3):hover {
  border-bottom: 0.1px solid #CCC;
}

#contact .container ul li:nth-of-type(5):hover {
  border-bottom: 0.1px solid #CCC;
}

footer {
  width: 100%;
  height: 100px;
  margin-top: -1px;
  display: flex;
  border-top: 0.1px solid #CCC;
  border-bottom: 0.1px solid #CCC;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 44px;
  height: 57px;
}

footer img:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #works .container .work {
    width: 100%;
  }
  #works .container .work .work-img {
    width: 400px;
    height: 300px;
    left: auto;
    right: auto;
  }
  #works .container .work .work-description {
    padding: 0;
    left: auto;
    right: auto;
  }
}
