@import "../abstracts/variable";
@import "../abstracts/mixin";

.aboutme__overview {
  display: flex;
  &-img {
    margin-right: 2rem;
    width: 400px;
  }
  &-text {
    position: relative;
    padding: 3rem;
    max-width: $max-width-text-desktop;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 81.5px;
      background-image: url("../img/quatation.png");
      background-size: cover;
      opacity: 0.6;
    }
    &-paragraph {
      margin-bottom: 1.5rem;
      @include bodyTextReg;
    }
    &-links {
      display: flex;
      &-link {
        margin-right: 2rem;
        font-size: $font-size-link;
        color: $color-satmor-2;
        font-family: $font-selif;
      }
    }
  }
}

h3.aboutme__timeline-title {
  @include blocTitle;
  margin-bottom: 3rem;
}

#timeline-container {
  width: 80%;
  margin-left: 2rem;
  .line {
    stroke: $color-satmor-2;
    stroke-width: 1px;
  }
  .dot {
    fill: $color-satmor-2;
  }
  .text {
    font-size: $font-size-timeline;
    fill: $color-black;
  }
  .companyname {
    font-family: $font-selif;
    fill: $color-satmor-2;
  }
}
