@import "../abstracts/variable";
@import "../abstracts/mixin";

//layout
.skills__skillset {
  margin-bottom: 4rem;
  &-title {
    @include sectionCopy;
    margin-bottom: 3rem;
  }
  &-list {
    @include flexRow;
    padding: 2rem;
    background-color: rgba(149, 104, 123, 0.04);
    &-item {
      @include flexCol;
      display: flex;
      width: 100%;
      align-items: center;
      &-img {
        width: 94px;
        height: 94px;
        margin-bottom: 1.5rem;
      }
      &-title {
        font-size: $font-size-list-item-title;
        font-weight: 400;
        margin-bottom: 1.5rem;
        color: $color-satmor-2;
      }
      &-iconlist {
        @include flexRow;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: fit-content;
        &-icon {
          width: 32px;
          height: 32px;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.skills__statement {
  &-text {
    max-width: $max-width-text-desktop;
    &-paragraph {
      margin-bottom: 1.5rem;
      @include bodyTextReg;
    }
  }
  &-title {
    @include sectionCopy;
  }
}
