// @forward "../variable.scss";
@import "../base/variable";
@import "../base/mixin";

.works__summary {
  .works__summary-list {
    @include flexRow;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

.works__projects-list-item {
  margin-bottom: 72px;
  position: relative;
  img.works__projects-list-item-content--bg {
    width: 100%;
  }
  .works__projects-list-item-content--front {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

@media (hover: hover) {
  .works__projects-list-item {
    &:not(:hover) {
      .works__projects-list-item-content--front {
        display: none;
      }
    }
    &:hover {
      .works__projects-list-item-content--front {
        display: block;
      }
    }
  }
}
