@mixin flexRow {
  display: flex;
  flex-direction: row;
}
@mixin flexCol {
  display: flex;
  flex-direction: column;
}
@mixin sectionCopy {
  font-family: $font-selif;
  font-size: $font-size-section-copy;
  line-height: $line-hight-section-copy;
}
@mixin bodyTextReg {
  font-size: $font-size-body-regular;
  line-height: 132%;
  opacity: 0.7;
}
