$font-selif: "Playfair Display", serif;

$color-black: #222;
$color-satmor-2: #573a4c;

$font-size-main: 4rem;
$line-hight-main: 128%;

$font-size-sub-copy: 1.5rem;
$line-hight-sub-copy: 132%;

$font-size-section-copy: 2.5rem;
$line-hight-section-copy: 132%;

$font-size-bloc-title: 2rem;
$line-hight-bloc-title: 132%;

$font-size-list-item-title: 1.25rem;

$max-width-text-desktop: 679px;

$font-size-body-regular: 1.5rem;

$font-size-link: 1.5rem;
