@import "../abstracts/variable";
@import "../abstracts/mixin";

.footer__content {
  padding: 3rem 9rem 6rem 9rem;
  border-top: 1px solid $color-black;
  &-text {
    width: 100%;
    max-width: $max-width-content-desktop;
    display: flex;
    flex-direction: column;
    &-item {
      margin-bottom: 2rem;
      font-size: $font-size-body-regular;
      &--name {
        font-size: 2rem;
        font-family: $font-selif;
      }
    }
  }
}
