@import "../base/variable";
@import "../base/mixin";

header {
  padding: 24px;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .right {
    display: flex;
    nav {
      ul {
        display: flex;
        flex-direction: row;
      }
    }
    .contacts {
      display: flex;
      flex-direction: row;
    }
  }
}
